<nav class="flex justify-between bg-gray-200 px-4 py-3 items-center shadow-md">
    <div>
        <button [routerLink]="['']" class="bg-gray-300 font-bold rounded-md px-3 py-2 mx-1">Inicio</button>
        <button *ngIf="userLoggedIn" [routerLink]="['subscriptions']" class="bg-gray-300 font-bold rounded-md px-3 py-2 mx-1">Suscripciones</button>
    </div>
    <div *ngIf="userLoggedIn; else noLogin">
        <button [routerLink]="['user-info']" class="bg-blue-500 text-white font-bold rounded-md px-3 py-2 mx-1">Usuario</button>
        <button (click)="logout()" class="bg-blue-500 text-white font-bold rounded-md px-3 py-2 mx-1">Cerrar sesión</button> 
    </div>
    <ng-template #noLogin>
        <div class="grid grid-cols-2 gap-2">
            <button [routerLink]="['register']" class="bg-blue-500 text-white font-bold rounded-md px-3 py-2">Registrarse</button>
            <button [routerLink]="['login']" class="bg-blue-500 text-white font-bold rounded-md px-3 py-2">Iniciar sesión</button>
        </div>
    </ng-template>
</nav>