<div class="bg-gray-200 grid grid-cols-1 justify-items-center m-5 rounded-md shadow-lg p-5 w-fit justify-self-center">
    <div *ngIf="!updating; else updateForm">
        <h1 class="text-3xl font-bold">{{ notification.title }} - {{notification.type}}</h1>
        <h2 class="text-2xl font-semibold">{{ notification.date }}</h2>
        <p>{{ notification.content }}</p>
        <div class="grid grid-cols-2 gap-5">
            <button (click)="updateNotif()" class="bg-yellow-500 text-white font-bold rounded-md mt-3 px-3 py-2">Editar</button>
            <button (click)="deleteNotif()" class="bg-red-500 text-white font-bold rounded-md mt-3 px-3 py-2">Eliminar</button>
        </div>
        <div class="col-span-2 flex justify-center">
            <button [routerLink]="['']" class="bg-blue-500 text-white font-bold rounded-md mt-3 px-3 py-2">Volver al inicio</button>
        </div>
    </div>
</div>
<ng-template #updateForm>
    <app-update-user-notification (changeUpdatingEvent)="updateNotif()" [notif]="notification"></app-update-user-notification>    
</ng-template>